.productPage {
    display: flex;
    background-color: #fff;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
}

.leftColumn {
    width: 31.9%;
    display: flex;
    justify-content: center;
}

.productImgField {
    height: 230px;
    width: 230px;
    overflow: hidden;

}

.productImgField img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.productDescription {
    width: 610px;
    padding: 0 20px 0 0;
}

.productDescription h2 {
    font-weight: 550;
    font-size: 24px;
    margin: 0 0 15px 0;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.rating {
    display: flex;
    align-items: flex-end;
    color: #086d81;
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #c7c7c7;
}

.stars {
    display: flex;
    margin: 0 10px 0 0;
}

.parameters {
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #c7c7c7;;
}

.priceColumn {
    color: #565959;
    font-size: 14px;
    font-weight: 500;
}

.priceNumber {
    color: #B12704;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.shippingPrice {
    color: #565959;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.about > h4 {
    margin: 15px 0 0 0;
}

.about > ul {
    padding: 0 0 0 20px;
    margin: 5px 0 0 0;
    color: #0F1111;
    font-size: 14px;
    font-weight: 500;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.productAdd {
    width: 275px;
}

.addForm {
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: 20px;
}

.addForm > div {
    margin: 0 0 10px 0;
}

.qtyButton {
    position: relative;
}

.qtyButton > button {
    border: 1px solid #c2c2c2;
    border-radius: 7px;
    padding: 2px 7px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217);
}

.qtyButton > button:hover {
    box-shadow: 0 2px 5px 0 #66d2ff;
}

.addButtons {
    display: flex;
    flex-direction: column;
}

.addButtons > button {
    height: 30px;
    border-radius: 15px;
    color: #0F1111;
    font-weight: 500;
    font-size: 13px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217);
    cursor: pointer;
}

.addButton {
    background-color: #fac828;
    border: 1px solid #f5c327;
}

.addButton:hover {
    background-color: #f5c327;
}

.buyButton {
    background-color: #ff8e41;
    border: 1px solid #ff8229;
    margin: 7px 0 0 0;
}

.buyButton:hover {
    background-color: #ff8229;
}

.secure {
    display: flex;
    align-items: center;
    color: #086d81;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.secure > span {
    margin: 0 0 0 10px;
}

.secure > span:hover {
    color: #B12704;
}

.shipItem {
    color: #565959;
    font-size: 12px;
    font-weight: 500;
}

.shipInfo {
    color: #0F1111;
    font-size: 12px;
    font-weight: 500;
}

.return {
    color: #0F1111;
    font-size: 13px;
    font-weight: 500;
}

.return > span:last-child {
    cursor: pointer;
    color: #086d81;
}

.return > span:last-child:hover {
    color: #B12704;
}

.skeleton {
    margin-top: 78px;
}

@media screen and (max-width: 1340px) {
    .productDescription {
        width: 410px;
    }
}

@media screen and (max-width: 1040px) {
    .leftColumn {
        width: 25%;
    }
}

@media screen and (max-width: 940px) {
    .productDescription {
        order: 1;
        width: 610px;
    }

    .productPage {
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .productDescription {
        order: 1;
        width: 90%;
    }

    .productPage {
        justify-content: space-around;
    }
}

@media screen and (max-width: 480px) {
    .productDescription {
        width: 80%;
        order: 0;
        margin: 20px 0;
    }

    .leftColumn {
        width: 50%;
        margin: 20px 0;
    }

    .productPage {
        flex-direction: column;
        align-items: center;
    }

    .productAdd {
        margin: 20px 0;
    }
}
