.signIn {
    height: 400px;
    width: 334px;
    background-color: transparent;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.title {
    background-color: white;
    padding: 0 20px 25px 20px;
    letter-spacing: 0.02em;
}
.title p {
    font-size: 20px;
    font-weight: bold;
}
.btnSignIn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4ce1b;
    height: 30px;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.0002em;
    cursor: pointer;
}
.btnSignIn:hover {
    background-color: #eec105;
}
.advertisement {
    margin: 20px 20px 0 20px;
    height: 100%;
    background-color: #0cb1e4;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
}
.advertisement p {
    padding: 20px;
}